
body {
  font-family: 'Roboto', sans-serif !important;
}

.header {
  width: 90%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  height: 200px;
}

.breadcrumb a {
  color: #999b9a;
  text-decoration: none;
}
button a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}
button a:hover {
  color: rgb(72, 200, 189);
}

.breadcrumb li {
  color: #000000;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

th {
  line-height: 29px;
}

.btn-outline-success {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
}
.btn-danger {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.title {
  
  font-style: normal;
  font-weight: 400px;
  font-size: 25px;
  line-height: 29px;
}

.input-counter {
  max-width: 100px;
  min-width: 80px;
  text-align: center;
  position: relative;
}
.input-counter span {
  top: 0;
  width: 30px;
  height: 100%;
  font-size: 15px;
  cursor: pointer;
  line-height: 50px;
  position: absolute;
  color: var(--paragraphColor);
  background-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.input-counter span.minus-btn {
  left: 0;
  border-right: 1px solid #eeeeee;
}
.input-counter span.plus-btn {
  right: 0;
  border-left: 1px solid #eeeeee;
}
.input-counter span:hover {
  color: var(--primaryColor);
}
.input-counter input {
  outline: 0;
  width: 100%;
  height: 47px;
  display: block;
  text-align: center;
  color: var(--blackColor);
  border: 1px solid #eeeeee;
  background-color: var(--whiteColor);
  font-size: 17px;
  font-weight: 600;
}
.input-counter input::placeholder {
  color: var(--blackColor);
}


/* Style Header */
.wrapper__action__header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.action__header {
  display: flex;
  width: 100%;
}

.action__header .canphai{
  padding-left: 100px;
}

.spiderum {
  width: 346px;
  height: 60px;
  font-family: Kavoon;
  font-style: normal;
  font-weight: bold ;
  font-size: 64px;
  line-height: 80px;
  color: #83FEB4;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navBar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.nav-link:hover {
  color: #0E8D41 !important;
}

.style__text li{
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #0E8D41;
  padding: 8px 40px;
}

.list__menu li:hover {
  background-color: #05c1f1;
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.banner img {
  width: 90%;
}

/* Style footer */
footer {
  width: 100%;
  font-size: 23px;
}

.titleFooter {
  font-weight: bold;
  font-size: 23px;
}
footer p {
  margin: 0px;
}

.cpr {
  background-color: black;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 23px;
  padding: 5px;
}
/* responsive */
@media screen and (max-width: 1215px) {

}

@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 1128px) {
  .list__menu li {
    width: 100px;
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .navBar {
    display: block;
  }
  button a {
    font-size: 20px;
  }
.title {
  font-size: 18px;
}

  .navBar nav img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .style__text3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 465px) {
  .style__text2 {
    font-size: 14px;
  }
}

.product-list td{
  vertical-align: middle;
}